main {
    max-width: 800px;
    margin: 0 auto;
}

nav {
    background-color: #eee;
    padding: 10px;
}

nav a {
    color: #333;
    text-decoration: none;
    margin-right: 15px;
}

nav a:hover {
    color: #007acc;
}

h1 {
    font-size: 2rem;
    color: #222;
    text-align: center;
}

/*coment */
aside {
    width: 300px;
    margin: 20px auto;
    padding: 15px ; 
    border: 2px solid #ccc;
    background-color: #f9f9f9;
    color: #333;
}

aside img {
    width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
}

main img {
    width : 150px;
    height: auto;
}

p {
    padding : 0;
}

footer {
    margin-top: 30px;
    border-top: 2px solid #ccc;
    text-align: center;
}

